// Access the data in the ViewBag in the view
<h1>Dashboard</h1>
<p>@ViewBag.DashboardData.TotalUsersPerLocation</p>
<p>@ViewBag.DashboardData.TotalUsersOverallClients</p>
<p>@ViewBag.DashboardData.TotalClientsPerDate</p>