@model EPM.WEB.Models.User

<h1>Register</h1>
<form method="post">
    <input asp-for="Username" type="text" placeholder="Username..." />
    <input asp-for="Email" type="text" placeholder="Email Address..." />
    <input asp-for="Password" type="password" placeholder="Password..." />
    <button type="submit" value="Submit">Register</button>
</form>
